<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>EDIT</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %> 

    <h1><%= workoutDay.title %> EDIT</h1>
    <h5><%= workoutDay.date.toDateString() %></h5>

    <form action="/dashboard/<%= workoutDay._id %>?_method=PATCH" method="POST">
        <input type="text" name="title" value="<%= workoutDay.title %>">
        <input type="date" name="date" value="<%= workoutDay.date.toISOString().split('T')[0] %>">
        <!-- <input type="submit" value="<< Save Changes"> -->
        <button type="submit">Save Date & Time</button>
    </form>

    <form action="/dashboard/<%= workoutDay._id %>/addexercise?_method=PATCH" method="POST">
        <!-- <input id= addExercise type="submit" value="Add Exercise"> -->
        <button id="addExercise" type="submit">Add Exercise</button>
    </form>
    
    <!-- loops through the exercises array in workout day -->
    <% const exercises = workoutDay.exercises %> 
    <% for (let i = 0; i < exercises.length; i++) { %>
        <% const exercise = exercises[i] %> 
        <form id="exercise<%= i %>" action="/dashboard/<%= workoutDay._id %>?_method=PATCH" method="POST">
        <label for="name">Exercise</label>
        <input type="text" name="name" value="<%= exercise.name %>">

        <!-- loops through each set in the specific exercise and displays the information -->
        <% for (let index = 0; index < exercise.sets.length; index++) {%> 
        <br><label>Set <%= index + 1 %>: </label>
        <label for="set<%= index + 1 %>reps">Reps</label>
        <input type="text" name="reps<%= index + 1 %>" value="<%= exercise.sets[index].reps %>">
        <label for="set<%= index + 1 %>weights">Weight</label>
        <input type="text" name="weights<%= index + 1 %>" value="<%= exercise.sets[index].weight %>">
        
        <!-- need to get the id from this button in the body of the remove set form -->
        <!-- <button type="submit" form="removeSetForm" >-</button>  -->
        <% } %> 
        <br><label for="notes">Notes</label>
        <br><textarea name="notes" id="notes" cols="30" rows="10"><%= exercise.notes %></textarea>
        <input type="hidden" name="ID" value="<%= i %>">
        <!-- <br><input type="submit" value="Update!"> -->
    </form> 

    <!-- div for styling buttons -->
    <div class="exerciseButtons">

    <!-- submits the form above -->
    <button type="submit" form="exercise<%= i %>">Save Changes</button>

    <!-- adds a set to a single exercise based on id -->
    <form action="/dashboard/<%= workoutDay._id %>/addset?_method=PATCH" method="POST">
        <input type="hidden" name="ID" value="<%= i %>">
        <!-- <input type="submit" value="Add Set"> -->
        <button type="submit">Add Set</button>
    </form>
    
    <!-- removes the last set from a form trying to get a set id in here -->
    <!-- so we can remove each individual set based on a remove button next to it -->
     
    <form id="removeSetForm" action="/dashboard/<%= workoutDay._id %>/removeset?_method=PATCH" method="POST">
        <input type="hidden" name="ID" value="<%= i %>">
        <!-- <input type="submit" value="Remove Set"> -->
        <button type="submit">Remove Set</button>
    </form>

    <!-- removes one whole exercise from the workout day -->
    <form action="/dashboard/<%= workoutDay._id %>/removeexercise?_method=PATCH" method="POST">
        <input type="hidden" name="ID" value="<%= i %>">
        <!-- <input class="deleteButton" type="submit" value="Delete"> -->
        <button class="deleteButton" type="submit">Delete</button>
    </form>
    </div>
    <% } %>  
</body>