<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <h1><%= workoutDay.title %> EDIT</h1>
    <h5><%= workoutDay.date.toDateString() %> </h5>

    <form action="/dashboard/<%= workoutDay._id %>?_method=PATCH" method="POST">
        <input type="text" name="title" value="<%= workoutDay.title %>">
        <input type="date" name="date" value="<%= workoutDay.date.toISOString().split('T')[0] %>">
        <input type="submit" value="Update!">
    </form>

    <form action="/dashboard/<%= workoutDay._id %>/addexercise?_method=PATCH" method="POST">
        <input type="submit" value="add exercise">
    </form>
    
    <% const exercises = workoutDay.exercises %> 
    <% for (let i = 0; i < exercises.length; i++) { %>
        <% const exercise = exercises[i] %> 
        <form id="<%= i %>" action="/dashboard/<%= workoutDay._id %>?_method=PATCH" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%= exercise.name %>">
        <% for (let index = 0; index < exercise.sets.length; index++) {%> 
        <br><label>Set <%= index + 1 %> >> </label>
        <label for="set<%= index + 1 %>reps">Reps</label>
        <input type="text" name="reps<%= index + 1 %>" value="<%= exercise.sets[index].reps %>">
        <label for="set<%= index + 1 %>weights">Weight</label>
        <input type="text" name="weights<%= index + 1 %>" value="<%= exercise.sets[index].weight %>">
        <% } %> 
        <br><label for="notes">Notes</label>
        <br><textarea name="notes" id="notes" cols="30" rows="10"><%= exercise.notes %></textarea>
        <input type="hidden" name="ID" value="<%= i %>">
        <br><input type="submit" value="Update!">
    </form> 
    <form action="/dashboard/<%= workoutDay._id %>/removeexercise?_method=PATCH" method="POST">
        <input type="hidden" name="ID" value="<%= i %>">
        <input type="submit" value="Delete">
    </form>
    <% } %>  
</body>