<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <h1><%= workoutDay.title %> EDIT</h1>
    <h5><%= workoutDay.date.toDateString() %> </h5>
    <form action="/dashboard/<%= workoutDay._id %>?_method=PATCH" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" value="<%= workoutDay.title %>">
        <% for(let i = 0; i < workoutDay.exercises.length; i++){ %>
        <br><label for="<%= workoutDay.exercises[i].name %>">Exercise</label> 
        <input type="text" name="Exercise-<%= i %>" value="<%= workoutDay.exercises[i].name %>">
        <% const exercise = workoutDay.exercises[i]%> 
        <% for(let j = 0; j < exercise.sets.length; j++) {%> 
        <br> 
        <label>Set <%= j+1 %> >></label>
        <label for="Exercise-<%= i %>-Set-<%= j %>-Reps">Reps</label>
        <input type="text" name="Exercise-<%= i %>-Set-<%= j %>-Reps" value="<%= exercise.sets[j].reps %>">
        <label for="Exercise-<%= i %>-Set-<%= j %>-Weight">Weight</label>
        <input type="text" name="Exercise-<%= i %>-Set-<%= j %>-Weight" value="<%= exercise.sets[j].weight %>">
        <% } %> 
        <% } %>  
        <br><input type="submit" value="Update!">
       
    <% const exercises = workoutDay.exercises %> 
    <% for (let i = 0; i < exercises.length; i++) { %>
    <% console.log('start')  %>
    </form> 
        <% const exercise = exercises[i] %> 
        <form id="<%= i %>" action="/dashboard/<%= workoutDay._id %>?_method=PATCH" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%= exercise.name %>">
        <% for (let index = 0; index < exercise.sets.length; index++) {%> 
        <br><label>Set <%= index + 1 %> >> </label>
        <input type="text" name="set <%= index %> reps" value="<%= exercise.sets[index].reps %>">
        <input type="text" name="set <%= index %> weight" value="<%= exercise.sets[index].weight %>">
        <% } %> 
        <br><label for="notes">Notes</label>
        <br><textarea name="notes" id="notes" cols="30" rows="10"></textarea>
        <br><input type="submit" value="Update!">
    </form> 
    <% } %>  
    
</body>