<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <% console.log(workoutDay) %> 
    <h1><%= workoutDay.title %> EDIT</h1>
    <h5><%= workoutDay.date.toDateString() %> </h5>
    <form action="">
        <label for="title">Title</label>
        <input type="text" name="title" value="<%= workoutDay.title %>">
        <% for(let i = 0; i < workoutDay.exercises.length; i++){ %>
        <br><label for="<%= workoutDay.exercises[i].name %>">Exercise</label> 
        <input type="text" name="<%= workoutDay.exercises[i].name %>" value="<%= workoutDay.exercises[i].name %>">
        <% const exercise = workoutDay.exercises[i]%> 
        <% for(let i = 0; i < exercise.setsRepsWeights.length; i++) {%> 
        <br> 
        <label>Set <%= i+1 %> >></label>
        <label for="exercise.setsRepsWeights.<%= i %>.reps">Reps</label>
        <input type="text" name="exercise.setsRepsWeights.<%= i %>.reps" value="<%= exercise.setsRepsWeights[i].reps %>">
        <label for="exercise.setsRepsWeights.<%= i %>.weight">Weight</label>
        <input type="text" name="exercise.setsRepsWeights.<%= i %>.weight" value="<%= exercise.setsRepsWeights[i].weight %>">
        <% } %> 
        <% } %>  
    </form>    
</body>