<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dashboard</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <h1>Welcome to Workout Time!</h1>
    <!-- <a href="dashboard/new"><button>New Workout!</button></a> -->
    <div id="dashboardPageWorkouts">
        <% for (let i = 0; i < workouts.length; i++){ %> 
        <div class="workoutDay">
            <h2><a href="dashboard/<%= workouts[i]._id %> "><%= workouts[i].title %></a> <%= workouts[i].date.toDateString() %></h2> 
            <form action="dashboard/<%= workouts[i]._id %>?_method=DELETE" method="POST">
                <!-- <input class="deleteButton" type="submit" value="Delete"> -->
                <button class="deleteButton" type="submit">Delete</button>
            </form>
        </div>
    <% } %>
    </div> 
</body>
</html>