<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <h1><%= workoutDay.title %></h1>
    <h3><%= workoutDay.date.toDateString() %> </h3>
    <div>
    <% for(let i = 0; i < workoutDay.exercises.length; i++) { %>
        <% const workoutExercise = workoutDay.exercises[i] %> 
        <div><%= workoutExercise.name %></div> 
        <% const sets = workoutExercise.sets %> 
        <% for(let i = 0; i < sets.length; i++) { %>
        <div>Set <%= i+1 %>: Reps <%= sets[i].reps %> Weight <%= sets[i].weight %></div>
        <% } %>
    <% } %>
    <a href="/dashboard/<%= workoutDay._id %>/edit"><button>Edit</button></a>
    </div> 
    
</body>
</html>